html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  margin: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox-icon,
.checked-icon {
  width: 16px;
  height: 15px;
  position: absolute;
  left: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .checkbox-icon,
  .checked-icon {
    left: 0;
  }
}

.checked-icon {
  opacity: 0;
}

.modal-checkbox:checked ~ .checked-icon {
  opacity: 1;
}

.modal-checkbox:checked ~ .checkbox-icon {
  opacity: 0;
}

.logo--black, .logo--white, .logo--blue {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.66;
}

@media screen and (min-width: 1200px) {
  .logo--black, .logo--white, .logo--blue {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black {
  color: #000;
}

@media screen and (min-width: 768px) {
  .logo--black {
    margin-right: auto;
  }
}

.logo--white {
  color: #ffffff;
}

.logo--blue {
  color: #2196f3;
}

.header, .header--border {
  min-height: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header--border {
  border-bottom: 1px solid #eee;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item {
  position: relative;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link, .header-nav__link--current, .header-nav__link--current::after {
  text-decoration: none;
  font-weight: 500;
  color: #212121;
}

.header-nav__link::after, .header-nav__link--current::after {
  position: absolute;
  top: 44px;
  content: "";
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover, .header-nav__link--current:hover, .header-nav__link--current:hover::after, .header-nav__link:focus, .header-nav__link--current:focus, .header-nav__link--current:focus::after {
  color: #2196f3;
}

.header-nav__link--current {
  color: #2196f3;
}

.header-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (max-width: 1199px) {
  .header-nav__link::after, .header-nav__link--current::after {
    top: 48px;
  }
}

.header-nav__link:hover::after, .header-nav__link--current:hover::after, .header-nav__link:focus::after, .header-nav__link--current:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-bottom: -10px;
}

@media screen and (max-width: 767px) {
  .header-contact__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__list {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.header-contact__item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .header-contact__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item {
    margin-right: 50px;
    font-size: 14px;
    line-height: 1.14;
  }
  .header-contact__item:last-child {
    margin-right: 0;
  }
}

.header-contact__link {
  text-decoration: none;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:visited {
  color: #757575;
}

.header-contact__link:hover, .header-contact__link:focus, .header-contact__link:active {
  color: #2196f3;
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.page-hero {
  max-width: 100%;
  min-height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .page-hero {
    max-width: 1600px;
    min-height: 600px;
  }
}

.page-hero__title {
  font-weight: 900;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .page-hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.page-hero__btn {
  min-width: 200px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .modal {
    width: calc(100% - 30px);
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: #2196f3;
  cursor: pointer;
}

.modal-title {
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  width: 100%;
}

.modal-comment {
  margin-bottom: 20px;
}

.modal-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding-left: 42px;
  margin-top: 4px;
  min-height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal-input {
    max-width: 448px;
  }
}

.modal-input:focus {
  border: 1px solid #2196f3;
}

.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-area {
  width: 100%;
  min-height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal-comment-area {
    max-width: 448px;
  }
}

.modal-comment-area:focus {
  border: 1px solid #2196f3;
}

.modal-comment-area::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-comment-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-comment-area::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-comment-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-agree {
  font-size: 12px;
  letter-spacing: 0.03em;
  display: block;
  line-height: 1.16;
  padding-left: 24px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-agree {
    font-size: 14px;
    line-height: 1.71;
    padding-left: 36px;
  }
}

.modal-agree-link {
  font-size: 12px;
  color: #2196f3;
  text-decoration: underline;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .modal-agree-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-submit {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.page-features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.page-features__item {
  min-width: 270px;
  margin-bottom: 30px;
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .page-features__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .page-features__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.page-features__title {
  text-align: center;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .page-features__title {
    text-align: left;
  }
}

.page-features__description {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 10px;
}

.page-features__icon {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.page-about__wrapper {
  display: none;
}

@media screen and (min-width: 1200px) {
  .page-about__wrapper {
    display: block;
  }
}

.page-about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-about__title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.page-about__item {
  position: relative;
}

.page-about__item:not(:last-child) {
  margin-right: 30px;
}

.page-about__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.page-team {
  background-color: #f5f4fa;
}

.page-team__title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}

.page-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}

.page-team__card-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-team__card {
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 0;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-flex-preferred-size: calc(100% / 1 - 30px);
      flex-basis: calc(100% / 1 - 30px);
}

.page-team__card:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .page-team__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .page-team__card {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.page-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  letter-spacing: 0.03em;
}

.page-team__prof {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.page-team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-team__social-item:not(:last-child) {
  margin-right: 10px;
}

.page-team__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-team__social-link:hover, .page-team__social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.page-social__icon {
  fill: currentColor;
}

.page-partners__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

a {
  display: inline;
}

.page-partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -30px;
  margin-right: -30px;
}

.page-partners__item {
  margin-bottom: 30px;
  margin-right: 30px;
}

.page-partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-partners__link:hover, .page-partners__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.page-partners__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer > .container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.footer-contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.footer-address {
  margin-top: 20px;
}

.footer-address__list {
  margin-bottom: -8px;
}

.footer-address__item {
  margin-bottom: 8px;
}

.footer-address__map {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-socials__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-socials {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-right: 60px;
  }
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: auto;
  }
}

.footer-subscribe__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe__form {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: inherit;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  min-height: 50px;
  width: 100%;
  max-width: 450px;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__input {
    min-width: 358px;
  }
}

.footer-subscribe__btn {
  margin-top: 20px;
  position: relative;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 29px;
  min-width: 200px;
  min-height: 50px;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__btn {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-subscribe__icon {
  position: absolute;
  top: 13px;
  right: 26px;
}

.portfolio-sort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .portfolio-sort__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-sort__item {
  margin-bottom: 15px;
}

.portfolio-sort__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-sort__btn {
  background: #f5f4fa;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-sort__btn:hover {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.portfolio__item {
  -ms-flex-preferred-size: calc(100% / 1 - 30px);
      flex-basis: calc(100% / 1 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__description {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-card-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.portfolio-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-animation {
  position: absolute;
  height: 100%;
  min-width: 370px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-animation__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio__item:hover .portfolio-animation {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 48px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__open-menu {
  margin-left: auto;
}

.mobile-menu__open-menu,
.mobile-menu__close-menu {
  border: none;
  background-color: #ffffff;
  padding: 0;
}

.mobile-menu__open-menu:hover > .mobile-menu__menu-icon,
.mobile-menu__close-menu:hover > .mobile-menu__menu-icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-menu__open-menu,
  .mobile-menu__close-menu {
    display: none;
  }
}

.mobile-menu__menu-icon {
  width: 40px;
  height: 40px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: #212121;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__phone-item {
  margin-bottom: 32px;
}

.mobile-menu__phone {
  font-size: 34px;
  color: #2196f3;
  font-weight: 500;
  text-decoration: none;
}

.mobile-menu__email {
  text-decoration: none;
  font-size: 24px;
  color: #757575;
  font-weight: 500;
}

.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__social-item:not(:last-child) {
  padding: 0 10px;
  border-right: 1px solid rgba(21, 21, 21, 0.2);
}

.mobile-menu__social-item:first-child {
  padding-left: 0;
}

.mobile-menu__social-item:last-child {
  padding-left: 10px;
}

.mobile-menu__social-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */