%logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.66;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo {
  &--black {
    @extend %logo;
    color: $primary-black-color;
    margin-right: 93px;
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
  }
  &--white {
    @extend %logo;
    color: $primary-white-color;
  }
  &--blue {
    @extend %logo;
    color: $accent-color;
  }
}
