.footer-socials__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;
}
.footer-socials {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-right: 60px;
  }
}
.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}
.footer-socials__list {
  display: flex;
  justify-content: center;
}
.footer-socials__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: $primary-white-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
