.mobile-menu {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $primary-white-color;
  position: fixed;
  left: 0;
  top: 0;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__open-menu {
  margin-left: auto;
}
.mobile-menu__open-menu,
.mobile-menu__close-menu {
  border: none;
  background-color: $primary-white-color;
  padding: 0;

  &:hover > .mobile-menu__menu-icon {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__menu-icon {
  width: 40px;
  height: 40px;
  fill: $primary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  color: $primary-text-color;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
  }
}
.mobile-menu__contacts {
  margin-bottom: 64px;
}
.mobile-menu__phone-item {
  margin-bottom: 32px;
}
.mobile-menu__phone {
  font-size: 34px;
  color: $accent-color;
  font-weight: 500;
  text-decoration: none;
}
.mobile-menu__email {
  text-decoration: none;
  font-size: 24px;
  color: $secondary-text-color;
  font-weight: 500;
}
.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__social-item {
  &:not(:last-child) {
    padding: 0 10px;
    border-right: 1px solid rgba(21, 21, 21, 0.2);
  }
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-left: 10px;
  }
}
.mobile-menu__social-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: $accent-color;
}
