.page-partners__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
a {
  display: inline;
}
.page-partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  margin-left: -30px;
}

.page-partners__item {
  margin-bottom: 30px;
  margin-left: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.page-partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
.page-partners__icon {
  fill: currentColor;
}
