.portfolio-overlay-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-animation {
  position: absolute;
  height: 100%;
  min-width: 370px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-animation__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}

.portfolio__item:hover .portfolio-animation {
  transform: translateY(-100%);
}
