$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-bg-color: #2f303a;
$third-bg-color: #f5f4fa;
$primary-black-color: #000;
$primary-border-color: #eee;
$secondary-border-color: #ececec;
